<div class = 'container'>
Add Post here
<form method = "post">
 Post Title <input type = "text" name = "name">
    <br>
 Your location <input type = "text" name ="location">
    <br>
  Description<input type = "textarea" name = "input">
    <br>
  Price  <input type = "text" name = "price">
    <br>
  <input type='submit' value="submit post">
</form>

</div>



