<p><%= @category.name %> Category</p>
<table>
<tr>
  <th><%= @category.name %> for Sale</th>
</tr>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.name %></li>
  <% end %>
</ul>



</table>



<br>
<br>
Add Post here
<form method = "post">
 Post Title <input type = "text" name = "name">
    <br>
 Your location <input type = "text" name ="location">
    <br>
  Description<input type = "textarea" name = "input">
    <br>
  Price  <input type = "text" name = "price">
    <br>
  <input type='submit' value="submit post">
</form>





